                </div> <!-- div.col-xs-12 col-md-8 -->
             </div>  <!-- div.rows -->
        </div>  <!-- Container -->
        <br><br><br>
        <hr>
        <p class="text-center">&COPY; CmsShoppingCart</p>

        <!-- Bootstrap core JavaScript ================================================== -->
            <!-- In this line there was the jquery which was moved to the header  -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>

        <!-- fancybox script  -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.js"></script>

        <!-- JavaScript Scripts  -->
        <script src="/js/main.js"></script>
    </body>
</html>